<html>
  <head>
    <title>About</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="https://d3js.org/d3.v5.min.js"></script>
  </head>
  <body>
    <h1>Exon Diagram</h1>
    <script>
      d3.select('body').text('ssss')
    </script>
  </body>
</html>