<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="https://d3js.org/d3.v5.min.js"></script>
</head>

<body>
    <div id="circos"></div>
    <script>
        // d3.json('data/gene.json', function(data) {
        //   console.log(data);
        // })

        let request = new Request('http://localhost:3000/data/gene.json', {
            headers: new Headers({
                'Content-Type': 'text/json'
            }),
            method: 'GET'
        });

        fetch(request).then((response) => {
          // console.log(response);
          response.json().then((data) => {
            // console.log(data);
            const angle = new Array;
            const sortStr = new Array;

            for (let i = 0; i < data.length; i++) {
              angle.push(Number(data[i].end) - Number(data[i].start));
              data[i]["angle"] = angle[i];
            //   console.log(data[i].angle)
    
              sortStr.push(data[i].reference.substr(3, 2));
              data[i]["chr"] = sortStr[i];
            }
            data.sort(function (a, b) {
                return a.chr - b.chr
            });
            console.log(data);
    
            const width = 700,
                  height = 700,
                  margin = {
                    top: 50,
                    right: 50,
                    bottom: 50,
                    left: 50
                  }
    
            const svg = d3.select("#circos")
              .append('svg')
              .style('width', width)
              .style('height', height)
              // .style('margin-top', margin.top)
              .style('margin-right', margin.right)
              .style('margin-bottem', margin.bottom)
              .style('margin-left', margin.left)
              .append('g').attr('transfrom', `translate(${width / 2}, ${height / 2})`);
    
            const arc = d3.arc()
              .innerRadius(270)
              .outerRadius(290)
    
            const ribbon = d3.ribbon()
              .radius(270)
          });
        });
    </script>
</body>

</html>