<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="https://d3js.org/d3.v5.min.js"></script>
  </head>
  <body>
    <script>
      console.log('d3 test', d3);
      d3.json('data/gene.json', function(data) {
        
        const geneData = JSON.parse(data)
        console.log('sdaasdasda', geneData)
      })
      
    </script>
  </body>
</html>