<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src='https://cdn.rawgit.com/nicgirault/circosJS/v2/dist/circos.js'></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/nightmare@3.0.2/lib/nightmare.min.js"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"></script> -->
  </head>

  <body>
    <div id="circos"></div>
    <script>
      
      async function readJsonData() {
        const gene = await d3.json('http://localhost:3000/data/gene.json')
        const fusionData = await d3.json('http://localhost:3000/data/fusion.json')
        // console.log('fusion', fusionData)
        // forEach 의 return value 는 undefined, 
        // map 은 콜백 함수의 결과 값들로 구성된 새로운 배열을 return

        // const others = new Object
        function Other(label, id, chr, strand) {
          this.label = label,
          this.id = id,
          this.chr = chr,
          this.strand = strand,
          this.len = 350000
        }

        fusionData.map((d) => {
          d['source_id'] = d.leftBreakPoint.split(':')[0];
          d['source_name'] = d.fusionName.split('--')[0];
          d['source_strand'] = d.leftBreakPoint.split(':')[2];
          d['target_id'] = d.rightBreakpoint.split(':')[0];
          d['target_name'] = d.fusionName.split('--')[1];
          d['target_strand'] = d.rightBreakpoint.split(':')[2];

          return fusionData;
        });
        
        const fusion = [];
        fusionData.forEach((d) => {
          if( d.prot_fusion_type === 'INFRAME' && (d.junctionReadCount > 0 && d.spanningFragCount > 0)) {
            fusion.push(d);
          }
        });

        // 타겟에 없는 유전자 gene 데이터에 넣어주기 위한 코드
        fusion.forEach((d) => {
          const source = gene.find(item => item.label === d.source_name)
          const target = gene.find(item => item.label === d.target_name)
          if(!source) {
            gene.push(new Other(d.source_name, d.source_name, d.source_id, d.source_strand))
          } 
          if(!target) {
            gene.push(new Other(d.target_name, d.target_name, d.target_id, d.target_strand))
          } 
        })

        return { 
          gene, 
          fusion
        };
      }
      readJsonData().then(async(d)=> {
        const { gene, fusion } = d;
        console.log('data', d)

        fusion.forEach(d => {
          for(let g = 0; g < gene.length; g++) {
            if(d.source_name === gene[g].label) {
              d['source_breakpoint'] = gene[g].len / 2
              d['size'] = gene[g].len
            }
            if(d.target_name === gene[g].label) {
              d['target_breakpoint'] = gene[g].len / 2
            }
          }
        })

        // sorting gene
        gene.map((d) => {
          if(d.label === 'DUX4') {
            d.chr = 'chr4'
          }
          d["num"] = d.chr.substr(3, 2);
          d["chr"] = d.chr.substr(0, 5);
          if(d.num === 'X') {
            d.num = Number(d.chr.substr(3, 2));
            d.num = 23;
          }
          if(d.num === 'Y') {
            d.num = Number(d.chr.substr(3, 2));
            d.num = 24
          }
          if(d.num === 'Un') {
            d.num = Number(d.chr.substr(3, 2));
            d.num = 25
          }
        });
        gene.sort(function(a, b) {
          return a.num - b.num
        });

        // draw circos chart
        const drawCircos = (gene, d) => {
          const width = 800;
          // create circos instance
          const circos = new Circos({
            container: '#circos',
            width: width,
            height: width
          });
          // format fusion data
          d = d.map(function (d) {
            return {
              source: {
                id: d.source_name,
                start: parseInt(d.source_breakpoint) - parseInt(d.source_breakpoint),
                end: parseInt(d.source_breakpoint) + parseInt(d.source_breakpoint),
                name: d.source_name,
                chr: d.source_id
              },
              target: {
                id: d.target_name,
                start: parseInt(d.target_breakpoint) - parseInt(d.target_breakpoint),
                end: parseInt(d.target_breakpoint) + parseInt(d.target_breakpoint),
                name: d.target_name,
                chr: d.target_id
              }
            }
          });
          // config circos layout
          circos
            .layout(gene,
            {
              innerRadius: width/2 - 100,
              outerRadius: width/2 - 90,
              labels: {
                display: false,
                size: 10,
                color: '#181818',
                radialOffset: 40
              },
              ticks: {
                display: false,
                color: '#181818',
                labelSize: 10
              }
            })
            .chords('l1', d,
            {
              opacity: 0.7,
              color: '#ff5722',
              tooltipContent: function (d) {
                return '<h3>' + d.source.id + ' ➤ ' + d.target.id + '</h3>'
              },
            })
            .render()
          // end circos object
        }
        // Call drawCircos
        drawCircos(gene, fusion);

        // New layout for change label location
        const width = 800;

        const makeAngle = (d) => {
          const k = ((d.end - d.start) / 2) / d.len ;
          const angle = d.len * k + d.start;
          return angle
        }
           
        const layout = d3.select('.cs-layout').selectAll('g').data(gene).join('g')
          .attr('class', d => d.label)
          .attr('opacity', '1')
        
        const g = layout.append('g')
          .attr('transform', d => `rotate(${makeAngle(d) * 180 / Math.PI - 90}) translate(330, 0)`)

        const text = g.append('text')
          .attr('dy', '.35em')
          .attr("transform", d => makeAngle(d) > Math.PI ? "rotate(180) translate(0)" : null)
          .attr("text-anchor", d => makeAngle(d) > Math.PI ? 'end' : null)
          .style('font-size', '11px')
          .text(d => d.label)

        // New Chr Circle
        // transform gene data
        const chrData = [];
        gene.map(d => {
          const chrObject = {
            chr: d.chr,
            len: d.len
          }
          return chrData.push(chrObject)
        })
        // console.log('chrData', chrData)

        const uniqChr = Array.from(new Set(chrData.map(d => d.chr)))
        .map(i => {
          return chrData.find(d => d.chr === i)
        })

        uniqChr.forEach(d => {
          d["chr"] = d.chr.substr(0, 5);
          d["num"] = d.chr.substr(3, 2);
          let num = []
          for (let i = 0; i < chrData.length; i++) {
            if(d.chr === chrData[i].chr) {
              num.push(chrData[i].len)
              d['len'] = sum(num)
            }
          }
        })
        // console.log('uniqChr', uniqChr)

        uniqChr.forEach(d => {
          const test = [];
          for (let i = 0; i < gene.length; i++) {
            if(d.chr === gene[i].chr) {
              test.push(gene[i].start)
              test.push(gene[i].end)
              d['startAngle'] = test[0]
              d['endAngle'] = test[test.length - 1]
            }
          }
        })

        // library, sum func
        function sum(array) {
          let result = 0;
          for (let i = 0; i < array.length; i++) {
            result += array[i];
          }
          return result;
        }

        // example chr circle
        const chrCircle = d3.select('.all').append('g').attr('class', 'chr-circle')
        
        const arc = d3.arc()
          .innerRadius(290)
          .outerRadius(295)
        
        const arcs = uniqChr
        console.log(arcs)

        const makeChrAngle = (d) => {
          const k = ((d.endAngle - d.startAngle) / 2) / d.len ;
          const angle = d.len * k + d.startAngle;
          return angle
        }

        const a = chrCircle.selectAll('path').data(arcs).enter().append('g')
        
        a.append('path')
          .attr('d', arc)
          .attr('fill', '#181818')
          .style('opacity', 0.2)
       
        const chr_g = a.append('g').data(arcs)
          .attr('transform', d => `rotate(${makeChrAngle(d) * 180 / Math.PI - 90}) translate(270, 0)`)
        
        chr_g.append('text')
          .style('font-size', '11')
          .attr('text-anchor', 'middle')
          .attr("transform", d => makeChrAngle(d) > Math.PI ? "rotate(180) translate(0)" : null)
          .text(d => d.chr)

        // end circos
      })

    </script>
  </body>
</html>