<html>
  <head>
    <title>Main</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="https://d3js.org/d3.v5.min.js"></script>
  </head>
  <body>
    <header class="header">
      <p>NgeneBio</p>  
    </header>
    <h1 class="report">RNA Diagram Page</h1>
    <nav class="route">
      <div class="diagrams">
        <button class="circos" onclick="window.location.href='/circos'">Circos</button>
        <button class="exon" onclick="window.location.href='/exon'">Exon</button>
      </div>
    </nav>
  </body>
</html>