.title{
  width: 100%;
  height: 80vh;
  background-color: #fa5252;
  color: #ffffff;
  font-size: 30px;
}

.display{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}